.ticket-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-template-rows: auto;
	gap: .5em;
	justify-content: start;

	>* {
		border: solid var(--color-border) 1px;
		text-decoration: none;
		color: var(--color-text);

		padding: .25em;

		background-color: var(--color-mod-bg);

		&.closed, &.closed .tag {
			color: var(--color-text-weak);
		}
	}
}

#reports-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 2em;

	>* {
		flex: 0 0 calc(50% - 1em);

		>:last-child {
			overflow-y: auto;
			max-height: 100vh;
		}
	}

	@media (max-width: 1050px)  {
		flex-direction: column;

		>* {
			flex: unset;

			>:last-child {
				max-height: 50vh;
			}
		}
	}
}

#reported-mods,
#reported-comments {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 1em;

	>* {
		border: solid var(--color-border) 1px;

		>*:first-child {
			text-decoration: none;
			color: var(--color-text);
			&:hover {
				color: var(--color-link-active);
			}

			border-bottom: solid var(--color-border) 1px;

			background-color: var(--color-mod-bg);

			position: sticky;
			top: 0;
		}

		>.ticket-list {
			padding: .5em;
		}
	}
}

#reported-mods>*>:first-child {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	>img {
		width: 5em;
		height: 5em;
	}

	>div {
		flex-grow: 1;

		padding: .25em .5em;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		>:last-child {
			flex-grow: 1;
		}
	}
}


#reported-comments>*>:first-child {
	padding: 0;

	>* {
		display: block;

		&:first-child {
			padding: .25em;

			text-decoration: none;
			color: var(--color-text);
			&:hover {
				color: var(--color-link-active);
			}

			h4 {
				margin: .25em;
			}
		}

		&:last-child {
			margin:  .125em .25em .25em .25em;
			border-top: solid var(--color-border) 1px;
			padding-top: .125em;
		}
	}
}